*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
li{
	list-style: none;
}
img{
	border: 0;
}
.clear{
	zoom:1;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
/*-----注册头部-------------------------------------------------------*/
.reg-header{
	height: 110px;
	background:url(../image/headbg.jpg) repeat-x left bottom;
}
.reg-hd-wrap{
	width: 1120px;
	height: 76px;
	margin:0 auto;
}
.reg-hd-wrap .reg-logo{
	display: block;
	width: 160px;
	height: 50px;
	float: left;
	margin-top: 24px;
	background: url(../image/icon.png) no-repeat;
}
.reg-hd-title{
	float: left;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	color:#666;
	border-left: 1px solid #bbb;
	margin-left: 25px;
	padding-left: 25px;
	margin-top: 34px;
}
.reg-logined{
	float: right;
	margin-top: 58px;
	color:#999;
	font-size: 16px;
}
.reg-logined a{
	color: #333;
	margin-left: 6px;
}
/**---注册内容-----------------------------------------------------------------**/
.reg-content{
	width: 1210px;
	margin:0 auto;
}
.reg-cnt-wrap{
	width: 830px;
	margin: 50px auto 60px;
	background: yellowgreen;
}
.reg-cnt-form{
	width: 400px;
	float:left;
	overflow: hidden;
}
.reg-item{
	width: 398px;
	border:1px solid #ddd;
	height: 52px;
	position: relative;
}
.reg-item label{
	width: 90px;
	height: 52px;
	line-height: 52px;
	font-size: 14px;
	padding-left: 20px;
	float: left;
}
.reg-item input{
	width: 190px;
	height: 19px;
	font-size: 14px;
	border:none;
	outline: none;
	padding:16px 0 11px 20px;
}
.input-tip{
	height: 27px;
	color:#c5c5c5;
	font-size: 12px;
	padding-top: 5px;
}
.reg-email-wrap,.reg-phone-wrap{
	position: relative;
	height: 86px;
	z-index: 11; 
}
.reg-email-wrap .orPhone,.reg-phone-wrap .orEmail{
	position: absolute;
	right: 0;
	bottom:10px;
}
.reg-phone-wrap label{
	border-right: 1px solid #ddd;
}
.orPhone,.orEmail{
	font-size: 14px;
}
.orPhone a,.orEmail a{
	color:#38f;
	margin-left: 5px;
}
.reg-item .reg-yan{
	width: 150px;
}
.reg-yanzheng{
	width: 110px;
	height: 46px;
	cursor:pointer;
	position: absolute;
	top: 3px;
	right: 3px;
}
.btn-phonecode{
	width: 110px;
	height: 46px;
	color:#333;
	border:none;
	position: absolute;
	right: 3px;
	top: 3px;
	font-size: 14px;
	cursor:pointer;
}
.reg-form-agreen{
	width: 400px;
	height: 53px;
	font-size: 12px;
}
.reg-form-agreen input{
	vertical-align: middle;
	margin-left: 4px;
}
.reg-form-agreen a{
	color:#38f;
}
.regBtn{
	width: 400px;
	height: 54px;
	background: #e22;
	border:0;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}
.regBtn a{
	color:#fff;
}
/**/
.reg-cnt-other{
	float:left;
	height: 605px;
	padding-left: 90px;
	border-left: 1px solid #e6e6e6;
	margin-left: 104px;
}
.phone-fast-reg{
	background: url(../image/reg-phone.jpg) no-repeat;
	width: 213px;
	height: 270px;
}
.company-reg{
	width: 160px;
	height: 60px;
	margin-top: 50px;
	border-bottom: 1px solid #ddd;
	margin-left: 30px;
}
.company-reg a{
	width: 160px;
	height: 30px;
	display: block;
	color:#666;
	font-size: 14px;
}
.company-reg a i{
	width: 30px;
	height: 29px;
	background: url(../image/icon.png) 0 -50px no-repeat;
	vertical-align: middle;
	display: inline-block;
	margin-right: 15px;
}
.company-reg a span:hover{
	color: black;
	font-weight: 800;
}
.inter-cust{
	width: 160px;
	margin-left: 30px;
	margin-top: 30px;
}
.inter-cust a{
	display: block;
	width: 170px;
	height: 30px;
	color: #666;
}
.inter-cust a i{
	width: 30px;
	height: 30px;
	background: url(../image/icon.png) -50px -50px no-repeat;
	display: inline-block;
	margin-right: 15px;
	margin-top: 7px;
	float: left;
}
.inter-cust a span{
	display: inline-block;
	font-size: 14px;
	margin-top: 4px;
	vertical-align: middle;
}
.inter-cust a span:hover{
	color: black;
	font-weight: 800;
}
/*注册底部------------------------------------------------------------------*/
.reg-footer{
	width: 1210px;
	margin:0 auto;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid #ededed;
	color:#999;
	margin-top: 60px;
	margin-bottom: 30px;
}
.reg-ft-list{
	margin: 40px 0 20px 0;
}
.reg-ft-list a{
	color:#999;
	padding: 0 6px;
}